extends mixins/layout

block content
    content.about
        h1.about__header Gregory Church
        p.about__text Hi! I'm Gregory Church an independent web developer and artist based in North Carolina. I enjoy all aspects of web developement and the bulk of my experience is in javascript fullstack technologies such as: Node.JS, React, and Vue.JS. Along with being a well learned users of css and html design principals. 
        p.about__text Looking to get something done? Feel free to 
            a(href="./contact") contact me. 


        iframe(src="./images/resume.pdf", frameborder="0").about__resume
        button.about__resume-btn 
            a(href="./images/resume.pdf").about__resume-link Click here to see my resume
        