.contact {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 7rem;
    width: 85%;
    &__label {
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 0.5rem;
    }
    &__input {
        background: #595959;
        border: 0;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }
    &__btn {
        background: #42A5F5;
        color: white;
        border: 0;
        padding: 1rem 2rem;
        font-size: 2rem;
        font-weight: 800;
        margin-top: 1rem;
    }
}


@media (max-width: 900px) {
    .contact {
        margin-top: 0;
        margin-bottom: 2rem;
        &__label {
            font-size: 1.1rem;
        }
        &__btn {
            font-size: 1.25rem;
        }
    }
}