.footer {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 2rem;
    align-self: flex-start;
    margin-left: 2.3rem;
    a {
        color: lighten($color: $accent, $amount: 45)
    }
    i {
        font-size: 1.3rem;
    }
}

@media (max-width: 900px) {
    .footer {
        align-self: center;
        margin: 0 0 2rem 0;
        i {
            font-size: 2rem;
        }
    }
}